<div class="app-container">
  <nav>
    <mat-toolbar color="primary" class="app-toolbar">
      <button span mat-button class="app-title" routerLink="">Angular Chatbot</button>
      <span class="spacer"></span>
      <a mat-icon-button href="https://github.com/wayne930242" target="_blank" rel="noopener noreferrer"
        class="code-button">
        <mat-icon>code</mat-icon>
      </a>
    </mat-toolbar>
  </nav>
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
  <footer class="app-footer">
  </footer>
</div>
